<!--
PetVey webapp
Group project
Comp 229 Sec009
Fall 2021
-->



<!-- Content for the Add_Edit page -->
<div class="container">
            
            <h1>{{editing ? "EDIT" : "NEW"}} SURVEY</h1>
            
                <form novalidate #form="ngForm" (ngSubmit)="save(form)" id="surveyForm">
                <div class="form-group">
                
                    <input type="hidden"
                        name="id"
                        [(ngModel)]="survey._id"
                    >
                    <input type="hidden"
                        name="owner"
                        [(ngModel)]="survey.owner"
                    >
                    <label for="surveyTextField">Title</label>
                    <input type="text" class="form-control"
                        
                        placeholder="Crazy Cat Dad Survey"
                        name="Title" 
                        [(ngModel)]="survey.Title"
                        required>
                </div>
                
                <div class="form-group">
                    <label for="statusTextField">Survey Creator</label>
                    <input type="text" class="form-control"
                    id="statusTextField"
                    placeholder="John Doe"
                    name="Author" 
                    [(ngModel)]="survey.Author"
                    >
                </div>
                
                <div class="form-group">
                    <label for="surveyTextField">Description</label>
                    <input type="text" class="form-control"
                        
                        placeholder="A survey for cat dads......"
                        name="Description" 
                        [(ngModel)]="survey.Description"
                        required>
                </div>
                
                <div class="form-group">
                    <label for="surveyTextField">Start Date</label>
                    <input type="date" class="form-control"
                        
                        name="StartDate"
                        placeholder="2021/05/21" 
                        [(ngModel)]="survey.StartDate"
                        required>
                </div>
                
                <div class="form-group">
                    <label for="surveyTextField">End Date</label>
                    <input type="date" class="form-control"
                        
                        name="ExpiryDate" 
                        [(ngModel)]="survey.ExpiryDate"
                        required>
                </div>
                <br>
                <div id="questionGroupContainer">
                    <div class="form-group" *ngFor="let question of survey.Questions; let i = index">
                        <label for="Question{{i}}">Question {{i}}</label>
                    </div>
                </div> 
                
                <div>
                    <button class="btn btn-primary floated" id="addQuestionButton" type="button" (click)="addQuestionButtonClick()">
                        <i class="fas fa-edit"></i> 
                        Add Question
                    </button>
                 
                <a href="survey/mysurveys" class="btn btn-secondary floated">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>
                
                <button class="btn btn-warning floated" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                    </div>
            </form>


</div>
