<!--
PetVey webapp
Group project
Comp 229 Sec009
Fall 2021
-->

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <h2>{{ survey.Title }}</h2>
        <div>
            <div>
                <h3><strong>Info</strong></h3>
            </div>
            <div class="surveyInfo">
                <div class="form-group" id="creatorContainer">
                    <label for="surveyTextField">Creator: </label>
                    <strong>{{ survey.Author }}</strong>
                </div>
                <div class="form-group" id="descriptionContainer">
                    <label for="surveyTextField">Description: </label>
                    <strong>{{ survey.Description }}</strong>
                </div>
                <div class="form-group" id="descriptionContainer">
                    <label for="surveyTextField">Dates Available: </label>
                    <strong>{{ survey.StartDate }} - {{ survey.ExpiryDate }}</strong>
                </div>
            </div>
            <div class="surveyQuestionsContainer">
                <div>
                    <h3><strong>Questions</strong></h3>
                </div>
                <div class="form-group" id="questionsContainer">
                    <label for="statusTextField"></label>
                    <strong>{{ survey.Questions }}</strong>                    
                </div>
                
            </div>
                <br />
                
                <a routerLink="/survey/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

        </div>

    </div>
</div>
