<!--
PetVey webapp
Group project
Comp 229 Sec009
Fall 2021
-->
<h1>{{ surveyToTake.Title }}</h1>

<form>
    <div *ngFor="let question of surveyToTake.Questions; let i = index">
        <h4 class="questionLabel">Question {{ i + 1 }}: {{ question.QuestionBody }}</h4>
        <div class="form-group">
            <mat-radio-group *ngIf="question.AnswerType === 'trueOrFalse'">
                <mat-radio-button labelPosition="after" value="true" class="p-3">True</mat-radio-button>
                <mat-radio-button labelPosition="after" value="false" class="p-3">False</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="question.AnswerType === 'shortAnswer'">
                <input type="text">
            </div>
            <div *ngIf="question.AnswerType === 'longAnswer'">
                <textarea name="" id="" cols="60" rows="5"></textarea>
            </div>
        </div>
    </div>
</form>