<!--
PetVey webapp
Group project
Comp 229 Sec009
Fall 2021
-->

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h2>SURVEY lIST</h2>
        <br>
    </div>
    <div class="container">

        
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    
                    <th class="text-center">Title</th>
                    <th class="text-center">Survey Creator</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">End Date</th>
                    
                </tr>
                
                <tr *ngFor="let item of surveyList">
                    
                    <td class="text-center">
                        <a routerLink="/survey/details/{{ item._id }}">
                            {{ item.Title }}
                        </a> 
                    </td>
                    <td class="text-center">{{ item.Author}}</td>
                    <td class="text-center">{{ item.Description }}</td>
                    
                    
                    <td class="text-center">{{ item.StartDate }}</td>
                    <td class="text-center">{{ item.ExpiryDate}}</td>
                    
                </tr>
                
            </table>
        </div>
    </div> 
    
  </main>
