    <div class="row">

        <div class="offset-md-3 col-md-3">
            <h1>Change Password</h1>

            <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="message != null">
                {{message}}
            </div>

            <form class="mt-5" novalidate #form="ngForm" (ngSubmit)="changePassword(form)">                           
                <div class="form-group">
                    <label>Current Password:</label>
                    <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control"/>
                </div>
                <br>
                <div>
                    <input class="btn btn-primary" type="submit" value="Update" />
                </div>
            </form>
        </div>
    </div>
